[Unit]
Description=Jira Motion Sync
After=syslog.target network.target

[Service]
WorkingDirectory=/opt/spillman-api
ExecStart=/bin/bash -c "docker-compose -f /opt/jira-motion-sync/docker-compose.yaml up"
ExecStop=/bin/bash -c "docker-compose -f /opt/jira-motion-sync/docker-compose.yaml stop"

Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target